body{
    background-color: darkorange;
}
h2{
    color: rgb(240, 238, 236);
}
h1{
    font-family: "MV Boli";
    font-weight: 400;
}
head{
    font-family: "Tahoma" ;
    font-weight: 200;
    color: rgb(41, 29, 21);
}